/*
  Hey there 👋
  This project is a work in progress. and made with ❤️ by @dunolabs. 
  If you have any questions, please don't hesitate to contact us - dunolabs@gmail.com
  We'll be happy to help you out. Thanks for your checking out our project.

*/

#imagePreview {
  width: 180px;
  height: 180px;
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  display: inline-block;
  content: 'click Here';
  color: black;
}

input[type='file'] {
  display: none;
}

.company-logo {
  &:hover {
    cursor: pointer;
  }
}

.stamp {
  transform: rotate(12deg);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 1rem;
  font-family: 'Courier';
  mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
  mix-blend-mode: multiply;
}

@media screen and (max-width: 480px) {
  .stamp {
    font-size: 1rem;
    width: 80%;
  }
  .signature {
    height: 50%;
    width: 50%;
  }
}

.is-nope {
  // color: #d23;
  // border: 0.5rem double #d23;
  transform: rotate(-4deg);
}
