/*
  Hey there 👋
  This project is a work in progress. and made with ❤️ by @dunolabs. 
  If you have any questions, please don't hesitate to contact us - dunolabs@gmail.com
  We'll be happy to help you out. Thanks for your checking out our project.

*/

.powered-by {
  position: fixed;
  bottom: 70px;
  left: 2px;
  color: #1a202c;
  padding: 5px 7px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 0 0 2px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 10%);
  transition: transform 300ms ease-in-out;
  transform: translateX(-75%);
}

.powered-by:hover {
  transform: translateX(0%);
}
